body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 4vw;
    height: 10vw;
    background-color: #000;
    list-style: none;
    border:1px solid #000;
}

.white {
    background-color: #fff;
    height: 20vw;
}
